{eunit_opts,
 [verbose,
  %% eunit truncates output from tests - capture full output in
  %% XML files in .eunit
  {report,{eunit_surefire,[{dir,"."}]}}]}.


{deps, [
       {triq, ".*", {git, "git://github.com/krestenkrab/triq.git", {branch, "master"}}},
       {erlsom, ".*", {git, "git://github.com/eriksoe/erlsom.git", {branch, "simple_forms_support_qnames"}}}
]}.
